[phases.setup]
nixPkgs = ["nodejs_20", "openssl", "openssl.dev"]

[phases.install]
cmds = ["yarn install --frozen-lockfile"]

[phases.build]
cmds = ["npx prisma generate", "yarn build"]

[start]
cmd = "npx prisma db push --accept-data-loss && node dist/index.js"

[variables]
PRISMA_CLI_BINARY_TARGETS = "debian-openssl-3.0.x"

